@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Katibeh&display=swap');

h1{

  font-family: "Girassol", serif;
  font-size: 50px

}

@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

p{

font-family: "Katibeh",serif;
font-size: 30px;

}




*{
  margin: 0px;
  padding: 0px;


}

body{

  background: linear-gradient(180deg, rgba(96,30,27,1) 0%, rgba(71,15,14,1) 100%);
}


.conteudogeral{

  margin: 20px 200px 20px 200px;
  
 
}

header{

  background-color:#943c36;
    padding: 20px;
    
   
  }
  
  .elementosCabeçalho{
  
    display: flex;
     
    justify-content: space-between;
   
  
  }
  
  .especificoElemento{
  
    text-decoration: none;
    
    color: black;
  
  }

  .imagemLogo{

    width: 150px;
  
    display: block;
      margin-left: auto;
      margin-right: auto;
  
  }

  h1,p{

    text-align: center;

  }

  .imagemContrato{

    display: block;
    margin-left: auto;
    margin-right: auto;


  }

  .botao{

    text-align: center;
    padding: 20px;
  }

  .rodape-alinhar{


    text-align: left;
   
  
  }
  
  .rodape-alinhar2{
  
  
    text-align: center;
  
  
  
  }
  
  .rodape-geral{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  footer{
  
    background-color:#581915;
    
    padding: 20px;
    width: 1830px;
  
  }
  
  .Linksrodape{
  
    display:flex;
    flex-direction:column;
  
  }
  .imagens-logo{
  
    width:40px;
  
  }
  
  .arrumarEscrita {
  
    display:flex;
  
    gap:20px;
  
  }
  
  .arrumar-instagrancurso{
  
    display:flex;
    gap:20px;
    justify-content:center;
  
  }
  
  .arrumargeral{
  
    display:flex;
    gap:20px;
    flex-direction:column;
   
  }
  
  .arrumar-instagramsala{
  
    text-align:center;
  
  }
  
  .logoempresa{
  
    width:100px;
  
  
  }

  