*{
  margin: 0px;
  padding: 0px;


}
body{

  background: linear-gradient(180deg, rgba(96,30,27,1) 0%, rgba(71,15,14,1) 100%);
}

header{


  background-color:#943c36;
    padding: 20px;
    
   
  }
  
  .elementosCabeçalho{
  
    display: flex;
     
    justify-content: space-around;
   
  
  }
  
  .especificoElemento{
  
    text-decoration: none;
    
    color: black;
  
  }

  .imagemLogo{

    width: 50px;
  
    display: block;
      margin-left: auto;
      margin-right: auto;
  
  }




.arrumacaogeral{

display: flex;
flex-direction: column;

}





.arrumarTexto{

  display: flex;
  flex-direction: row;
  justify-content: center;


}

.arrumarImagem{

  display: flex;
  flex-direction: row;
  justify-content: space-between;




}



.tamanhoImagem{

  width: 100px;



}

#email-arrumar{

  height: 105px;
  width: 105px;


}


.rodape-alinhar{


  text-align: left;
 

}

.rodape-alinhar2{


  text-align: center;



}

.rodape-geral{

  display: flex;
  align-items: center;
  justify-content: space-between;

}

footer{

  background-color:#581915;
  
  padding: 20px;
  width: 1830px;

}

.Linksrodape{

  display:flex;
  flex-direction:column;

}
.imagens-logo{

  width:40px;

}

.arrumarEscrita {

  display:flex;

  gap:20px;

}

.arrumar-instagrancurso{

  display:flex;
  gap:20px;
  justify-content:center;

}

.arrumargeral{

  display:flex;
  gap:20px;
  flex-direction:column;
 
}

.arrumar-instagramsala{

  text-align:center;

}

.logoempresa{

  width:100px;


}




